#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

#images {
  justify-content: space-around;
}

.scanned {
  width: 300px;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 8px;
}

.clear {
  position: absolute;
  right: 0;
}
